<div class="container">
  <table>
    <tr>
      <td>
        <div  *ngFor="let hot of hotlist1" class="card" style="width: 15rem;" >
          <div class="d-flex justify-content-center mt-2" >
            <img [src]=hot.thumbnail  />
          </div>
          <div class="card-body mx-auto" >
            <h5 class="card-title text-center"><a class="nav-link" [routerLink]="['/detalleJuegoBGG', hot.gameId]" >{{hot.name}}</a></h5>
            <h6 class="card-title text-center">{{hot.yearPublished}}</h6>
          </div>
        </div>
      </td>
      <td>
        <div  *ngFor="let hot of hotlist2" class="card" style="width: 15rem;" >
          <div class="d-flex justify-content-center mt-2" >
            <img [src]=hot.thumbnail  />
          </div>
          <div class="card-body mx-auto" >
            <h5 class="card-title text-center"><a class="nav-link" [routerLink]="['/detalleJuegoBGG', hot.gameId]" >{{hot.name}}</a></h5>
            <h6 class="card-title text-center">{{hot.yearPublished}}</h6>
          </div>
        </div>
      </td>
      <td>
        <div  *ngFor="let hot of hotlist3" class="card" style="width: 15rem;" >
          <div class="d-flex justify-content-center mt-2" >
            <img [src]=hot.thumbnail />
          </div>
          <div class="card-body mx-auto" >
            <h5 class="card-title text-center"><a class="nav-link" [routerLink]="['/detalleJuegoBGG', hot.gameId]" >{{hot.name}}</a></h5>
            <h6 class="card-title text-center">{{hot.yearPublished}}</h6>
          </div>
        </div>
      </td>
    </tr>
  </table>

</div>
