<div class="continer">
  <div class="card">
    <div class="card-header">
      <h3 class="text-center">LISTADO DE JUEGOS</h3>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th></th>
            <th>Nombre</th>
            <th>En mi coleccion</th>
            <th>En seguimiento</th>
            <th>En wishlist</th>
            <th>ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let juego of juegos | paginate: { id: 'pgListaJugos',
          itemsPerPage: pageSize,
          currentPage: p
          }"    class="text-center">
            <td><img [src]=juego.img class="img-fluid img-thumbnail" style="max-width:50px;"></td>
            <td><a [routerLink]="['/editarJuego', juego.nombre]">{{juego.nombre}}</a></td>
            <td><input type="checkbox" disabled=true [checked]=juego.enColeccion /> </td>
            <td><input type="checkbox" disabled=true [checked]=juego.enSeguimiento /></td>
            <td><input type="checkbox" disabled=true [checked]=juego.enListaDeseos /></td>
            <td>
              <button (click)="partidasJuego(juego.nombre)" class="btn btn-success">Partidas</button>
              <button (click)="nuevaPartida(juego.nombre)"  class="btn btn-success" style="margin-left: 10px;">Nueva partida</button>
              <button (click)="establecerNombreJuegoEliminar(juego.nombre)" ata-toggle="modal" data-target="#eliminacion" class="btn btn-danger" style="margin-left: 10px;">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls id="pgListaJugos" (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>

<div class="modal fade" id="eliminacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Va a eliminar un juego de la BBDD de forma permanente. ¿Estás seguro?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="eliminarJuego()" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

