<div class="continer">
  <div class="card">
    <div class="card-header">
      <h3 class="text-center">LISTADO DE PARTIDAS </h3>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th class="text-left">Juego</th>
            <th class="text-left">Fecha</th>
            <th class="text-left">Ganador</th>
            <th class="text-left">Puntos de victoria</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let partida of partidas | paginate: { id: 'foo',
          itemsPerPage: pageSize,
          currentPage: p}"   class="text-center">
            <td class="text-primary text-left">
              <a (click)="serializarPartida(partida)" [routerLink]="['/detallePartida']">{{partida.juego}}</a>
            </td>
            <td class="text-primary text-left">{{partida.fecha | date:'fullDate':'+0034':'es'}}</td>
            <td class="text-primary text-left"><input type="checkbox" [checked]=partida.ganador disabled=true /></td>
            <td class="text-primary text-left">{{partida.puntos}}</td>
          </tr>
        </tbody>
      </table>
      <pagination-controls id="foo" (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
