<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="assets/img/logo.png" class="img-fluid img-thumbnail" style="max-width:60px;"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/listarJuegos">Listado de juegos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navegarNuevoJuego()" href="/nuevoJuego">Nuevo juego</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/buscarJuego">Buscar juego</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cuadromando">Panel de control</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pruebas">Pruebas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/hotness">BGG Hotness</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/listasJuegosAmigosBGG">Amigos BGG</a>
      </li>
      <li>
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Listas
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/listarJuegos"  (click)="navegarColeccion()">En mi coleccion</a>
            <a class="dropdown-item" href="/listarJuegos" (click)="navegarSeguimiento()">En seguimiento</a>
            <a class="dropdown-item" href="/listarJuegos" (click)="navegarDeseos()">En la lista de deseos</a>
          </div>
        </div>
      </li>
      <li>
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Partidas
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/listarPartidas"  (click)="navegarGanadas()">Ganadas</a>
            <a class="dropdown-item" href="/listarPartidas" (click)="navegarTodas()">Todas</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <a class="navbar-brand" href="/estadisticasPersonales"><img src="assets/img/icoPlayer.png" class="img-fluid img-thumbnail" style="max-width:50px;"/></a>
</nav>
