<div class="continer">
  <div class="card">
    <div class="card-header">
      <h5 class="text-center">Nombre del juego <input type="text" [formControl]="buscarControl" /></h5>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th>Nombre</th>
            <th>En mi coleccion</th>
            <th>En seguimiento</th>
            <th>En wishlist</th>
            <th>ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr><td colspan="5" class="text-center"><small id="nombreHelp" [hidden]="errorMessage.length<1" class="text-danger">{{errorMessage}}</small></td></tr>
          <tr *ngFor="let juego of juegos" [hidden] = "inicializacion" class="text-center">
            <td><a [routerLink]="['/editarJuego', juego.nombre]">{{juego.nombre}}</a></td>
            <td><input type="checkbox" disabled=true [checked]=juego.enColeccion /> </td>
            <td><input type="checkbox" disabled=true [checked]=juego.enSeguimiento /></td>
            <td><input type="checkbox" disabled=true [checked]=juego.enListaDeseos /></td>
            <td>
              <button (click)="partidasJuego(juego.nombre)" class="btn btn-success">Partidas</button>
              <button (click)="nuevaPartida(juego.nombre)"  class="btn btn-success" style="margin-left: 10px;">Nueva partida</button>
              <button class="btn btn-danger" style="margin-left: 10px;">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

