<div class="container">
  <label for="nombre" class="text-primary mt-5">Introduzca el nombre del juego: </label>
  <input name="nombre" type="text" [formControl]="buscarControl" class=" border border-primary rounded w-100" />
  <div *ngFor="let juego of juegos"   class="text-center">

    <a class="list-group-item list-group-item-action list-group-item-primary text-left" (click)="dameJuego(juego.nombre)">
      <img [src]=juego.img class="img-fluid img-thumbnail" style="max-width:50px;">  {{juego.nombre}}
    </a>
  </div>
</div>

